<html ng-app="game">
	<head>
		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="index.js" type="text/javascript"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="index.css"/>
	</head>
	<body ng-controller="mainController">
		<header>
		
		</header>
		<div id="game">
			<p>Where was this picture taken?<br/>
			Fill in the blank letters to continue to the next scene.</p>
			<div id="scoreboard"><p>Score: <span class="badge">{{game.score}}</span></p></div>
			<button type="button" class="btn btn-info" ng-click="hint()">Hint?</button>
			<button type="button" class="btn btn-default" ng-click="skipScene()">Skip &raquo;</button>
			<div id="hint" class="alert alert-info" role="alert">
				<strong>Hint:&nbsp;</strong><span id="hint-text"/>
			</div>
			<img src="photos/{{scene.photo}}" width="500" height="300" class="img-rounded"/>
			<div id="letters">
				<ul>
					<li ng-repeat="letter in letters">
						<input ng-disabled="{{letter.correctCharacter == ''}}" 
						maxLength="1" 
						class="indeterminate" 
						id="letter{{letter.position}}" 
						text="textbox" 
						value="{{letter.character}}" 
						ng-model="letter.character" 
						ng-change="letterChanged(letter)"
						ng-class="getLetterClass(letter)"></input></li>
				</ul>
			</div>
		</div>
		<footer>

		</footer>		
	</body>
</html>